body {
  background: #f1ffef;
  color: #30292f;
  font-family: "Montserrat", sans-serif;
}

hr {
  width: 80%;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #156064;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #30292f;
  display: block;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.main h1,
.main p,
.main h2 {
  text-align: center;
}

.callout {
  font-style: italic;
  padding: 40px 15% 40px 15%;
}

.wrapper {
  width: 80%;
  margin: auto;
  padding: 10px;
}

.prog-hl {
  width: 50%;
  float: left;
}

.best-games {
  margin-left: 50%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-left: 80px;
  width: 100%;
  background-color: #30292f;

  font-style: italic;
  color: #f1ffef;
  text-align: center;
}
